<section id="about" class="container-fluid content-section text-center">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-md-offset-1">
      <h2>About Royal Cremas</h2>
      <p>Royal Cremas LLC is a Haitian owned and operated company located in the New York metropolitan area. We produce a popular drink within the Haitian culture called <%=link_to("cremas", "https://en.wikipedia.org/wiki/Cr%C3%A9mas")%> . It is a coconut based drink with a fusion of aromatic spices such as cinnamon and nutmeg to form a smooth taste. Our Royal Cremas, Haitian drink is traditionally consumed during social events, holidays and celebrations. Our company’s goal is to make cremas available all year around while extending our Haitian culture to everyone.</p>

      <p>We offer: 750ml (Regular), 147ml (Personal) &amp; 50ml (Mini/Favor by the dozen) bottles.</p>

      <p><%=link_to("Order", "#order", class: "page-scroll") %> one and try it out today!</p>
    </div>
    <div class="col-sm-12 col-md-3">
      <%= image_tag('bottles.jpg', class: "img-responsive hidden-xs hidden-sm") %>
      <%= image_tag('bottles_mobile.jpg', class: "img-responsive visible-xs-12 visible-sm-12 hidden-md hidden-lg") %>
    </div>
  </div>
</section>
