<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Royal Cremas</h1>
          <p class="intro-text">Finest Tropical Sweet Coconut Drink</p>
          <%= link_to("#about", class: "btn btn-circle page-scroll") do %>
            <i class="fa fa-angle-double-down animated"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
